section.py-5
  .container
    h2.text-center.c-primary.mb-5
      i Compre por categoria
    article.row
      .col-lg-4
        figure
          img.img-fluid.w-100(src="images/produto1.jpg", alt="")
          figcaption.text-center.p-2
            i texto (3)
      .col-lg-4
        figure
          img.img-fluid.w-100(src="images/produto2.jpg", alt="")
          figcaption.text-center.p-2
            i texto (4)
      .col-lg-4
        figure
          img.img-fluid.w-100(src="images/produto3.jpg", alt="")
          figcaption.text-center.p-2
            i texto (13)
section.py-5
  .container
    h2.text-center.c-primary.mb-5
      i Instagram @Braslialutalivre
    article.row
      .col-lg-4
        figure
          img.img-fluid.w-100(src="https://unsplash.it/800/600?random&seed=0", alt="")
      .col-lg-4
        figure
          img.img-fluid.w-100(src="https://unsplash.it/800/600?random&seed=1", alt="")
      .col-lg-4
        figure
          img.img-fluid.w-100(src="https://unsplash.it/800/600?random&seed=2", alt="")
